/* Enter your custom styles here */



/* Enter your custom styles here */
.aminty_title{
	font-size:30px;
	color: cornflowerblue;
	font-weight: bold;
}
.sapMGTSubHdrTxt{
color: #d4c8c8;
}
.sapMGTHdrTxt>.sapMText{
	color: #f9f8f8;
}
.sapMGTHdrIconImage {
	color: #e6e6e6;
}
.sapUiGlobalBackgroundColor, .sapMShellGlobalInnerBackground{
	background-color: #dde1e2;
}
.sapMGT {
    display: inline-block;
    overflow: hidden;
    border-radius: 0.5rem;
    border: 1px solid transparent;
    position: relative;
    outline: none;
    box-sizing: border-box;
    background-color:cornflowerblue; 
    background-position: 0;
}
.sapMGTHdrIconImage {
    float: right;
    width: 2.0rem;
    min-height: 2.5rem;
    font-size: 2.5rem;
}
div#register_tile {
    margin-left: 100px;
}
/*.sapMGT {*/
/*    border: 1px solid #dddddd;*/
/*    background: rgba(13, 94, 173, 0.32);*/
/*}*/
.sapMGTHdrIconImage {
    margin-top: 80px;
}
.roundedTile {
	position: absolute;
	top: 0;
	left: 0;
	border: 1px solid #dddddd;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
	background-color: #ffffff;
	display: inline-block;
	transition-property: transform3d;
	transition-duration: 0.2s;
	margin: 0.5rem;
	border-radius: 110px;
	width: 12rem;
	height: 12rem;
    outline: 0;
}

.roundedTileContent {
	overflow: hidden;
	width: 12rem;
	height: 12rem;
}

.roundedTileTopRow {
	height: 7rem;
	padding: 1rem 1rem 0 1rem;
	margin-bottom: 1rem;
}

.roundedTileIcon {
	width: 5rem !important;
	height: 5rem !important;
	line-height: 5rem !important;
	font-size: 5rem !important;
	padding-left: 40px !important;
	padding-top: 30px !important;
}

.roundedTileBottomRow {
	height: 2rem;
	padding: 0 1rem 1rem 1rem;
}

.roundedTileTitle {
	line-height: 0.8rem;
	vertical-align: top;
	text-align: center;
	font-size: 11px;
	height: 15px;
	width: 100%;
	overflow: hidden;
	word-break: break-word;
}


/* Table Heading in View */
.sapMListTblCell, .sapMListTblHeaderCell {
	text-align: centre;
}